<div class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/comics">Comics</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Login</a></li>
    </ul>
</div>